{block nav}
    {*<div class="row"></div>*}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7  col-md-7 col-sm-7">
            <nav class="navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Změna hesla</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
    </nav>
{/block}

{block content}
    <br>
    <body class="m-2">

    {*<div>*}
    {*{control register}*}
    {*</div>*}


    <div class="">
        <form n:name=resetPassword class=form>
            <div class="row">
                <div class="col-lg-12 text-lg-left">
                    <h2>Změna hesla:</h2>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xl-2 text-right">
                    Uživalel:
                </div>
                <div class="col-xl-10 text-left">
                    {$changed_password_username}
                </div>
            </div>
            <br>

            <div class="form">
                <div class="form-group ">
                    <div class="row">
                        <label class="col-xl-2 col-md-12 col-sm-12 text-right">Staré heslo:</label>
                        <div class="col-xl-10 text-left">
                            <input n:name="old_password">
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="row">
                        <label class="col-xl-2 col-md-12 col-sm-12 text-right">Nové heslo:</label>
                        <div class="col-xl-10 text-left">
                            <input n:name="new_password">
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="row">
                        <label class="col-xl-2 col-md-12 col-sm-12 text-right">Potvrďte heslo:</label>
                        <div class="col-xl-10 text-left">
                            <input n:name="password_verification">
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="row">
                        <div class="col-xl-2 col-md-12 col-sm-12 text-right">
                        </div>
                        <div class="col-xl-10 text-left">
                        <button n:name="save" class="text-center btn btn-default">
                            Uložit
                        </button>
                        </div>
                    </div>
                </div>
                {*</tab>*}
                {*</div>*}
        </form>
    </div>

    <br>
    <br>
    <br>

    </body>

{/block}