{block nav}
    <a class="dropdown-item" n:href="Homepage:">Homepage</a>
    >>
    Stranka pacienta    <br>
    {control logOut}
{/block}

{block content}
    <h1>{$username}</h1>

    <p1> patient profile layout</p1>

    <br>
    <br>
    <br>
    {control patientFormsGrid}
    <br>
    <a n:href="Homepage:default">←Homepage</a>

{/block}