{block nav}
    {*<div class="row"></div>*}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7  col-md-7 col-sm-7">
            <nav class="navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:userGrid">Seznam uživatelů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Regisgrace nového uživatele</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
    </nav>
{/block}

{block content}
    <br>
    <body class="m-2">

    {*<div>*}
    {*{control register}*}
    {*</div>*}


    <div class="">
        <form n:name=register class=form>
            <div class="row">
                <div class="col-lg-12 text-lg-left text-md-center">
                    <h2>Registrace uživatele:</h2>
                </div>
            </div>
            <br>


            <div class="row">
                <tab>
                    <div class="form">
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-sm-12 text-right" for="username">Uživalelské jméno:
                                <input n:name="username">
                            </label>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-12 col-md-12 col-sm-12 text-right" for="password">Heslo:
                                <input n:name="password">
                            </label>
                        </div>
                        <div class="form-group ">
                            <label class="text-right col-lg-12" for="password">Potvrďte heslo:
                                <input n:name="password_verification">
                            </label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">

                        </div>
                        <div class="form-group text-left">
                            <label class="text-right col-lg-12" for="neco">
                                <button n:name="register" type="login" class="text-center col-12 btn btn-default">
                                    Registrovat
                                </button>
                            </label>
                        </div>
                </tab>
            </div>
        </form>
    </div>

    <br>
    <br>
    <br>

    </body>

{/block}