{block nav}
    {*<div class="row"></div>*}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-4 col-sm-5">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7 col-md-5 col-sm-7">
            <nav class="text-left navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Seznam uživatelů</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-3 col-sm-12">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
        {*<div class="text-right m-md-2 col-lg-12">*}
    </nav>
{/block}

{block content}
    <body>
    <br>
    <h1>Seznam uživatelů</h1>
    <br>


    <div>
        {*<h4>Správa uživatelů</h4>*}
        <div class="form-group text-left">
            <a class="btn btn-sth" n:href="Profile:register">Registrovat nového uživatele</a>
        </div>
        {*<form n:name=formsubmit class=form>*}
        {*<button name="logout" type="logout" class="btn btn-sth">Zobrazit seznam uživatelů</button>*}
        {*</form>*}
        <br>

    {control userGrid}


    </div>
    </body>

{/block}