<!DOCTYPE html>
<html>
<head>
    <!--  Bootstrap start  -->
    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="{$basePath}/js/jquery.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <!--  Bootstrap end  -->

    <script src="{$basePath}/js/flash.js"></script>

    <link href="{$basePath}/css/printstyle.css" rel="stylesheet" media="print">
    <link href="{$basePath}/css/style.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Formuláře</title>

</head>

<body class="m-lg-3 m-md-3 m-sm-3">

<div n:foreach="$flashes as $flash" n:class="flash, overflow-ellipsis, alert, 'alert-' . $flash->type">{$flash->message}</div>


{ifset nav}{include nav}{else}Menu{/ifset}
{*<hr>*}

<div class="page-content">
    {include content}
</div>

{block scripts}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}


</body>
</html>
