{block nav}
    <div class="page-header">
        <div class="text-lg-left">
            <h1 n:block="title">Formuláře</h1>
        </div>
    </div>
{/block}

{block content}
    {*<div class="form-group text-right">*}
    {*<a class="nav-link" n:href="Homepage:register">Registrovat</a>*}
    {*</div>*}
    <br>
    {*<body class="p-lg-2">*}
    <body class="m-2">

    <div class="text-lg-left container-fluid">

        <div class="">
            <div class="row">
                <form n:name=signForm class=form>
                    <div class="col-lg-12 text-lg-center text-md-center text-sm-center">
                        <h2>Přihlášení:</h2>
                        <br>
                    </div>
                    <div class="form">
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-sm-12 text-right" for="name">Jméno:
                                <input type="name" class="col-lg-9 col-md-9 col-sm-9" id="name" name="name"></label>
                        </div>
                        <div class="form-group ">
                            <label class="col-lg-12 col-md-12 col-sm-12 text-right" for="password">Heslo:
                                <input name="password" type="password" class="col-lg-9 col-md-9 col-sm-9" id="password">
                            </label>
                        </div>
                        <div class="form-group text-left">
                            <label class="col-lg-12 col-md-12 col-sm-12 text-right text-right" for="neco">
                                <button name="login" type="login"
                                        class="text-center col-lg-9 col-md-9 col-sm-9 btn btn-default">
                                    Přihlásit
                                </button>
                            </label>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>


    </body>

{/block}