{define row-head-columns}
    <colgroup>
        <col span="1" style="width: 4%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 24%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 11%;">
        <col span="1" style="width: 11%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 20%;">
    </colgroup>

    <tr class="grid-columns">
        <thead class="thead-dark">
        <th>#</th>
        <th>Jméno formuláře</th>
        <th>Popis</th>
        <th>Vytvořil</th>
        <th>Datum vytvoření</th>
        <th>Datum úpravy</th>
        <th>Upravil</th>
        <th class="text-center">Akce</th>
        </thead>
    </tr>
{/define}


{define row}
    <tr>
        <th>{$row['a']}</th>
        <th>{$row['form_name']}</th>
        <td>{$row['basic_info']}</td>
        <td>{$row['creator']}</td>
        <td>{$row['created_at']}</td>
        <td>{$row['modified_at']}</td>
        <td>{$row['modified_by']}</td>
        <td class="text-center">
            <a href="{plink delete! id => $row['form_id']}"
               onclick="return confirm('Jste si jisti, že chcete tento formulář smazat?');" class="btn btn-info"
               role="button">smazat</a>
            <a href="{plink show form_id => $row['form_id']}" class="btn btn-info" role="button">Zobrazit</a>
            <a href="{plink edit! form_id => $row['form_id']}" class="btn btn-info" role="button">Upravit</a>
        </td>
    </tr>
{/define}

{define table-open-tag}
<table class="table table-bordered table-striped  col-lg-12">
    {/define}

    {define table-close-tag}

</table>
{/define}


{define pagination}

    <div class="grid-paginator">
        {if $paginator->isFirst()}
            <span>«</span>
            <span><</span>
        {else}
            <a href="{link paginate!, 'page' => 1}" class="ajax">«</a>
            <a href="{link paginate!, 'page' => $paginator->page - 1}" class="ajax">Předchozí</a>
        {/if}

        <span>
    <span>{$paginator->page}</span> / <span>{$paginator->pageCount}</span>
    </span>

        {if $paginator->isLast()}
            <span>></span>
            <span>»</span>
        {else}
            <a href="{link paginate!, 'page' => $paginator->page + 1}" class="ajax">Další</a>
            <a href="{link paginate!, 'page' => $paginator->pageCount}" class="ajax">»</a>
        {/if}
    </div>

{/define}



