{define row-head-columns}
    <colgroup>
        <col span="1" style="width: 4%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 46%;">

        <col span="1" style="width: 20%;">
    </colgroup>

    <tr class="grid-columns">
        <thead class="thead-dark">
        <th>#</th>
        <th class="col-lg-auto">Otázka</th>
        <th>Typ otázky</th>
        <th>Odpovědi</th>
        <th class="text-center">Akce</th>
        </thead>
    </tr>
{/define}

{define row}
    <tr>
        <th>{$row['order']}.</th>
        <td>{$row['question']}</td>
        <td>{$row['type']}</td>
        <td>{$row['answers']}</td>
        <td class="text-center">
            <a href="{plink Question:edit form_id => $row['form_id'], id => $row['id']}" class="btn btn-info"
               role="button">Upravit</a>
            <a href="{plink delete! form_id => $row['form_id'], id => $row['id']}" class="btn btn-info"
               role="button"
               onclick="return confirm('Jste si jisti, že chcete tuto otázku smazat?');">Smazat</a>
            <a href="{plink moveUp! id => $row['id'], form_id => $row['form_id']}" class="btn btn-secondary"
               role="button">↑</a>
            <a href="{plink moveDown! id => $row['id'], form_id => $row['form_id']}" class="btn btn-secondary"
               role="button">↓</a>
        </td>
    </tr>
{/define}

{define table-open-tag}
<table class="table table-bordered table-striped">
    {/define}

    {define table-close-tag}
</table>


{*</div>*}

{/define}

{define pagination}

    <div class="grid-paginator">
        {if $paginator->isFirst()}
            <span>«</span>
            <span>Predchozi</span>
        {else}
            <a href="{link paginate!, 'page' => 1}" class="ajax">«</a>
            <a href="{link paginate!, 'page' => $paginator->page - 1}" class="ajax">Předchozí</a>
        {/if}

        <span>
    <span>{$paginator->page}</span> / <span>{$paginator->pageCount}</span>
    </span>

        {if $paginator->isLast()}
            <span>></span>
            <span>»</span>
        {else}
            <a href="{link paginate!, 'page' => $paginator->page + 1}" class="ajax">Další</a>
            <a href="{link paginate!, 'page' => $paginator->pageCount}" class="ajax">»</a>
        {/if}
    </div>

{/define}


