{define row-head-columns}
        <colgroup>
            <col span="1" style="width: 4%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 11%;">

            <col span="1" style="width: 20%;">
        </colgroup>

        <tr class="grid-columns">
            <thead class="thead-dark">
            <th>#</th>
            <th class="col-lg-auto">Jméno uživatele</th>
            <th>Oprávnění</th>
            <th>Registrován</th>
            <th class="text-center">Akce</th>
            </thead>
        </tr>
{/define}

{define row}
    <tr>
        <th>{$row['#']}.</th>
        <td>{$row['username']}</td>
        <td>{$row['certification']}</td>
        <td class="text-center">{$row['registred']}</td>
        <td class="text-center">
            <a href="{plink changePassword user_id => $row['id']}" class="btn btn-info"
            role="button">Změnit heslo</a>
            <a href="{plink delete! id => $row['id']}" class="btn btn-info"
            role="button"
            onclick="return confirm('Jste si jisti, že chcete tohoto uživatele smazat?');">Smazat</a>
        </td>
    </tr>
{/define}

{define table-open-tag}
<table class="table table-bordered table-striped col-7">
    {/define}

    {define table-close-tag}
</table>


{*</div>*}

{/define}

{define pagination}

    <div class="grid-paginator">
        {if $paginator->isFirst()}
            <span>«</span>
            <span>Predchozi</span>
        {else}
            <a href="{link paginate!, 'page' => 1}" class="ajax">«</a>
            <a href="{link paginate!, 'page' => $paginator->page - 1}" class="ajax">Předchozí</a>
        {/if}

        <span>
    <span>{$paginator->page}</span> / <span>{$paginator->pageCount}</span>
    </span>

        {if $paginator->isLast()}
            <span>></span>
            <span>»</span>
        {else}
            <a href="{link paginate!, 'page' => $paginator->page + 1}" class="ajax">Další</a>
            <a href="{link paginate!, 'page' => $paginator->pageCount}" class="ajax">»</a>
        {/if}
    </div>

{/define}