{block nav}
    {*<div class="row"></div>*}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7  col-md-7 col-sm-7">
            <nav class="text-left navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Form:default">Správa formulářů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Question:default form_id => $form_id">Formulář: {$form_name}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
    </nav>
{/block}

{block content}
    <br>
    <h1>Vyberte formulář s otázkama:</h1>
    <br>
    {control formGrid}

    <br>
    <br>
    <br>
    <br>
    {*<a n:href="Homepage:default">←Homepage</a>*}
{/block}