{block nav}
    {*<div class="row"></div>*}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7  col-md-7 col-sm-7">
            <nav class="text-left navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Form:default">Správa formulářů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Formulář: {$form_name}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
    </nav>
{/block}

{block content}
        <br>
        <h2>Editace formuláře:</h2>
        <br>
        <h4>{$form_name}</h4>
        <br>
        <p>Popis:</p>
        <tab>
            <p> {$basic_info}</p>
        </tab>
    <br>
    <br>
    <a n:href="Form:edit form_id => $form_id" class="btn btn-sth" role="button">Upravit základní informace</a>
    <hr>
    <p>
        <a n:href="Question:new form_id => $form_id" class="btn btn-sth" role="button">Přidat novou otázku</a>
        <a n:href="Question:copy form_id => $form_id" class="btn btn-sth" role="button">Přidat skupinu otázek</a>
    </p>

    {control questionsGrid}

    <a n:href="Question:new form_id => $form_id" class="btn btn-sth" role="button">Přidat novou otázku</a>
    <a n:href="Question:copy form_id => $form_id" class="btn btn-sth" role="button">Přidat skupinu otázek</a>

    {*<a n:href="Question:new $form_id">←Nova otazka</a>*}
    {*<a n:href="Question:new form_id => $form_id">←Nova otazka</a>*}
    <br>
    <br>
    <a n:href="Form:show form_id => $form_id" class="btn btn-sth" role="button">Náhled formláře</a>
    <hr>
    <a n:href="Form:" class="btn btn-sth" role="button">Zpět na výpis formulářů</a>
    {*{control saveForm}*}

{/block}