{block nav}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7  col-md-7 col-sm-7">
            <nav class="text-left col-lg-10 col-sm-6 navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Homepage:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:doctor">Stránka doktora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Form:">Správa formulářů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Question:default form_id => $form_id">Formulář {$form_name}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
    </nav>
{/block}



{block content}

    <br>
    <div class="row">
        <div class="col-lg-12 text-left">
            <tab>
                <h1>Nová otázka</h1>
            </tab>
        </div>
        <div class="col-lg text-left">
        </div>
    </div>
    <br>



    <form n:name=newQuestion class=form>
        <div class="row">
            <div class="col-lg-2 text-right">
                <label n:name=questionType>Typ otázky:</label>
            </div>
            <div class="col-lg-10 text-left">
                <select n:name=questionType></select>
            </div>
        </div>

        <div class="row">
            <p>
            <div class="col-lg-2 text-right">

            </div>
            <div class="col-lg-9 text-left">
                <input n:name=select class="col-lg-1 btn btn-sth">
            </div>
            </p>
        </div>

        <div n:ifset="$form['question']">
            <p>
            <div class="row">
                <div class="col-lg-2 text-right">
                    <label n:name=question>Otázka:</label>
                </div>
                <div class="col-lg text-left">
                    {input question}
                </div>
            </div>
            </p>
        </div>

        <div n:if="$form['questionType']->value == 0 || $form['questionType']->value == 1">
            <div n:ifset="$form['maxLen']">
                {*<p><label n:name=maxLen>Zadejte maximalni pocet znaku: <input name="maxLen" type="number"></label></p>*}
                <div class="row">
                    <div class="col-lg-2 text-right">
                        <label n:name=maxLen>Zadejte maximalní počet znaků</label>
                    </div>
                    <div class="col-lg-10 text-left">
                        <input n:name="maxLen" type="number">
                    </div>
                </div>
            </div>
        </div>

        <div n:if="$form['questionType']->value == 3">
            <div n:ifset="$form['maxLen']">
                <p>
                <div class="row">
                    <div class="col-lg-2 text-right">
                        <label n:name=minLen>Zadejte minimalní velikost čísla:</label>
                    </div>
                    <div class="col-lg-10 text-left">
                        <input n:name="minLen" type="number">
                    </div>
                </div>
                </p>
                <p>
                <div class="row">
                    <div class="col-lg-2 text-right">
                        <label n:name=maxLen>Zadejte maximální velikost čísla:</label>
                    </div>
                    <div class="col-lg-10 text-left">
                        <input n:name="maxLen" type="number">
                    </div>
                </div>
                </p>
            </div>
        </div>


        <div n:ifset="$form['answers']">
            {formContainer $form['answers']}
                {foreach $form['answers']->components as $item}
                    {if $item->name != 'add'}
                        {formContainer $form['answers']}

                            <p>
                            <div class="row">
                                <div class="col-lg-2 text-right">
                                    {label $form['answers']->getComponent($item->name)->getComponent('answer')}
                                </div>
                                <div class="col-lg-10 text-left">
                                    {**}

                                    {input $form['answers']->getComponent($item->name)->getComponent('answer')}
                                    {*</div>*}
                                    {*<div class="col-lg-1 text-left">*}
                                    {formContainer $form['answers']->getComponent($item->name)}
                                        <input n:name="remove" class="btn btn-sth" value="Odstranit možnost">
                                    {/formContainer}
                                </div>
                            </div>
                            </p>
                        {/formContainer}
                    {/if}
                {/foreach}
                <p>
                <div class="row">
                    <div class="col-lg-2 text-right">
                    </div>
                    <div class="col-lg-10 text-left">
                        <input n:name="add" class="btn btn-sth" value="Přidat možnost">
                    </div>
                </div>
                </p>

            {/formContainer}
            <p>
            <div class="row">
                <div class="col-lg-2 text-right">
                </div>
                <div class="col-lg-10 text-left">
                    <input n:name=otherAnswer>
                    <label n:name=otherAnswer>Přidat textové pole jiné(Nutno přidat a specifikovat odpověď jiné)</label>
                </div>
            </div>
            </p>
        </div>

        <div n:ifset="$form['required']">
            <p>
            <div class="row">
                <div class="col-lg-2 text-right">
                </div>
                <div class="col-lg-10 text-left">
                    <input n:name=required>
                    <label n:name=required>Otázka je povinná</label>
                </div>
            </div>
            </p>
            {*<p><label n:name=required>Otazka je povinna: <input n:name=required></label></p>*}
        </div>

        <div n:ifset="$form['save']">
            <p>
            <div class="row">
                <div class="col-lg-2 text-right">
                </div>
                <div class="col-lg-10 text-left">
                    <input n:name=save class="btn btn-sth">
                </div>
            </div>
            </p>
        </div>

    </form>
    <br>
    <br>
    <br>
    <br>
{/block}
