{block nav}
    <a n:href="Homepage:">Homepage</a>
    >>
    <a n:href="Profile:doctor">Stranka doktora</a>
    >>
    <a n:href="Form:">Sprava dotazniku</a>
    >>
    Novy dotaznik: {$form_name}    <br>
    {control logOut}
{/block}

{block content}




{/block}