{block nav}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7  col-md-6 col-sm-6">
            <nav class="text-left navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Správa formulářů</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
    </nav>
{/block}

{block content}
    <body>

    <br>
    <div>
            <h1>Správa formulářů</h1>
    </div>

    <br>
    {control formsGrid}
    <br>
    {*{control newForm}*}
    <form n:name=newForm class=form>
        <button name="new_form" class="btn btn-sth">Nový formulář</button>
    </form>
    <div>
        <br>
    </div>
    </body>

{/block}