{block nav}
    {*<div class="row"></div>*}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7  col-md-7 col-sm-5">
            <nav class="text-left navbar-expand-sm text-sm-right bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Form:default">Správa formulářů</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-2 col-sm-2">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
        {*<div class="text-right m-md-2 col-lg-12">*}
    </nav>
{/block}

{block content}
    <br>
    <h3>Nový formulář: </h3>

    <br>

    <div class="row">
        <form n:name=basicInfo class=form>
            <div class="form">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 text-md-right text-sm-left">
                            {label form_name}
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10  text-left">
                            <input n:name="form_name">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 text-md-right text-sm-left">
                            {label basic_info}
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10  text-left">
                            <textarea n:name="basic_info" rows="4" cols=70></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 text-right">
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10  text-left">
                            <button name="save_basic_info" type="submit" class="text-center btn btn-sth">
                                Pokračovat
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>

    <br>
    <br>


{/block}

