{block nav}
    {*<div class="row"></div>*}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-lg-2">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-lg-7">
            <nav class="text-left col-lg-10 col-sm-6 navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Form:default">Správa dotazniků</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Question:default form_id => $edited_form_id">Editovaný
                            formulář: {$edited_form_name}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-lg-3">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
    </nav>
{/block}

{block content}

    <h1>Ukázka formuláře: </h1>
    <br>
    <p>Název formuláře: {$form_name}</p>
    <br>
    <p>Základni informace: {$basic_info}</p>
    <br>
    <br>
    {*{control questions}*}

    <form n:name=questions class=form>
        {var $ranking = 0}
        {foreach $form->getControls() as $order => $item}
            <div class="form-item">
                {if $item->caption === 'Jiné: '}
                    <div class="row">
                        <div></div>
                        <div class="col-12 ml-5">
                            <input type="text">
                        </div>
                    </div>
                {elseif $item->name != '_do'}
                    <hr>
                    <br>
                    <div class="row col-lg-12 ml-1">
                        {var $ranking = $ranking+1}
                        <b> {$ranking}. {label $item} </b>
                    </div>
                    <div class="row ml-4">
                        <div class=" col-12">
                            <p>
                                {input $item}
                            </p>
                        </div>
                    </div>
                {/if}
            </div>

        {/foreach}


    </form>

    <br>
    <br>
    {*{control copyQuestions}*}
    <form n:name=copyQuestions class=form>
        <button n:name="select" class="btn btn-sth">Vybrat dotazník</button>
    </form>
    {*<a n:href="Question: form_id => $form_id" class="btn btn-light" role="button">Upravit dotaznik</a>*}

{/block}