{block nav}
    <nav class="navbar navbar-light bg-light">
        <div class="text-left col-xl-2 col-lg-2 col-md-3 col-sm-5">
            <h1>Formuláře</h1>
        </div>
        <div class="text-left col-xl-8 col-lg-7  col-md-7 col-sm-7">
            <nav class="text-left navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" n:href="Profile:">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Form:default">Správa formulářů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" n:href="Question:default form_id => $form_id">Formulář: {$form_name}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-right col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <form n:name=logOut class=form>
                <button name="logout" type="logout" class="btn btn-sth">Odhlásit</button>
                <br>
                <br>
                <p2>Uživatel: {$username}</p2>
            </form>
        </div>
    </nav>
{/block}

{block content}


    <br>
    <div class="ml-3">
        <b>
            <h>{$form_name}</h>
        </b>
    </div>
    <br>
    <br>
    {if $basic_info != null}
        <div class="ml-4">
            <p><b>Popis:</b></p>
            <p>{$basic_info}</p>
        </div>
    {/if}
    <br>

    <form n:name=questions class=form>
        {var $ranking = 0}
        {foreach $form->getControls() as $order => $item}
            <div class="form-item">
                {if $item->caption === 'Jiné: '}
                    <div class="row">
                        <div></div>
                        <div class="col-12 ml-5">
                            <input type="text">
                        </div>
                    </div>
                {elseif $item->name != '_do'}
                    <hr>
                    <br>
                    <div class="row ml-1">
                        <b>{label $item} </b>
                        <br>
                    </div>
                    <div class="row ml-4">
                        <div class=" col-12">
                            <p>
                                {input $item}
                            </p>
                        </div>
                    </div>
                {/if}
            </div>

        {/foreach}


    </form>
    <br>
    <a class="d-print-none btn btn-sth" href="javascript:window.print()">Vytisknout</a>
    <a href="{plink edit! form_id => $form_id}" class="d-print-none btn btn-sth" role="button">Upravit formulář</a>



    </div>
{/block}
