
.jumbotron {
    background-color: #2E2D88;
    color: white;
}

/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

body {
    margin-top: 20px;
}

/*   {*/
/*color: #3484D2;*/
/*}*/

a[href^="#error:"] {
    background: red;
    color: white;
}

form .required label {
    font-weight: bold;
}

.rr {
    color: #e4606d;
    size: 90px;
}



p3 {
    font-size: 0.5rem
}

p2 {
    font-size: 0.8rem;
    border-right: 10px solid #f8f9fa;
}

.btn-sth {
    color: #212529;
    background-color: #e1e1e1;
    border-color: #f8f9fa;
}

tab {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}


h {
    /*font-style: oblique;*/
    font-size: 1.5cm;
    /*font-size: large;*/
}

@media print {
    div.form-item {
        page-break-inside: avoid;
        font-size: 2rem;
    }

    .page-content {
        /*background-color: #0c5460;*/
    }

    p {
        font-size: 1.5rem;
        break-inside: auto;
    }

    b {
        font-size: 1.8rem;
        break-inside: auto;
    }

    p3 {
        font-size: 0.5rem
    }

    p2 {
        font-size: 0.8rem;
        border-right: 10px solid #f8f9fa;
    }

    div.form-item input[type=text] {
        width: 950px;
        border: none;
        border-bottom: 2px solid
    }

    div.form-item textarea {
        width: 950px;
        height: 200px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }

    .form-item input[type="number"] {
        /*height: 130%;*/
        /*width: 12%;*/
        -moz-appearance:textfield;

        width: 20%;
        border: none;
        border-bottom: 2px solid
    }

    .form-item input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }


    div.form-item input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    hr.form-item {
        height: 0px;
        border: none;
        border-top: 1px solid black;
    }

    @page {
        background-color: #0000BB;

        size: 297mm 210mm  ;
        margin: 20mm;
        margin-right: 25mm;
    }

}

.form-item input[type=radio], .form-item input[type=checkbox] {
    margin-right: 20px;
    width: 30px;
    height: 30px;

}

question {
    display: inline-table;
}

/*.dontsplit {*/
    /*border: 2px solid black;*/
    /*page-break-inside: avoid;*/
/*}*/

/*.pagebreak {*/
    /*page-break-before: always;*/
/*}*/



