.jumbotron {
    background-color: #2E2D88;
    color: white;
}

/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

body {
    margin-top: 20px;
}


a[href^="#error:"] {
    background: red;
    color: white;
}

form .required label {
    font-weight: bold;
}

.rr {
    color: #e4606d;
    size: 90px;
}

div.alert-error {
    position: absolute;
    width: 400px;
    left: 0;
    right: 0;
    z-index:9999;
    top: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #e4606d;
    background: #ffe6e6;
    border: 1px solid red;
}

div.alert-success {
    position: absolute;
    width: 400px;
    left: 0;
    right: 0;
    top: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    z-index:9999;

    color: black;
    background: lightgreen;
    /*background: #000000;*/
    border: 1px solid green;
    /*text-overflow: ellipsis;*/
}

/*.overflow-ellipsis {*/
    /*text-overflow: ellipsis;*/
/*}*/

p3 {
    font-size: 0.5rem
}

p2 {
    font-size: 0.8rem;
    border-right: 10px solid #f8f9fa;
}

h {
    /*font-style: oblique;*/
    font-size: 1cm;
    /*font-size: large;*/
}

.btn-sth {
    color: #212529;
    background-color: #e1e1e1;
    border-color: #f8f9fa;
}

tab {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}


.form-item input[type=radio], .form-item input[type=checkbox] {
    margin-right: 10px;
}

.form-item input[type=text] {
    width: 20%;
    /*padding: 12px 20px;*/
    /*margin-left: 15px;*/
    /*margin: 8px 0;*/
    border: none;
    border-bottom: 2px solid
    /*box-sizing: border-box;*/
}

.form-item textarea {
    width: 95%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.form-item input[type="number"] {
    /*height: 130%;*/
    /*width: 12%;*/
    -moz-appearance:textfield;
}


.form-item input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


question {
    display: inline-table;
}

.dontsplit {
    border: 2px solid black;
    page-break-inside: avoid;
}

.pagebreak {
    page-break-before: always;
}



